papermill>=2,<3
pretty-cron>=1,<2
APScheduler>=3,<4
pycron>=3,<4
pandas>=1,<2
daemonize>=2,<3
escapism>=1,<2
notebook>=6,<7
ipython>=7,<8
ipykernel>=5,<6
requests>=2,<3
sentry-sdk>=0,<1
sanic>=20,<21
sanic-openapi>=0,<1
argparse>=1,<2
nbconvert>=6,<7
nbclient>=0,<1
pytest==5.2
pytest-sanic==1.6.1
requests-mock==1.8.0